@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600,700,400,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    color: #111827;
    text-decoration: none;
}
body{
    height: 100%;
}
.frame{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:white;
    margin: auto;
}
#purple-circle{
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 0;
    filter: blur(33px);
    opacity: 0.4;
}
#turquoise-circle{
    position: absolute;
    top: 71%;
    left: 60%;
    z-index: 0;
    filter: blur(33px);
    opacity: 0.3;
}
.nav{
    display: none;
}
.hero{
    width: 100%;
    height: 866px;
    background: #F2F7FFB2;
    background-image: url("assets/right-band-1.svg"),url("assets/right-band-2.svg"),url("assets/right-band-3.svg"),url("assets/left-band-1.svg"),url("assets/left-band-2.svg");
    background-repeat: no-repeat;
    background-position:97% 64%, 100% 74.5%,100% 76%,0% 85%, 0% 96%,67% 72%;
}
.navbar{
    width: 85%;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 24px;
}
.left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 442px;
    height: 32px;
}
.left-nav-a{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: inline;
}
.hero-container{
    width: 85%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 99px;
}
.hero-container-content{
    width: 696px;
    height: 640px;
    margin-top: 205px;
}
.hero-container-phone{
    width: 488px;
    height: 640px;
    z-index: 1;
} 
.hero-container-content-title{
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
}
.hero-container-content-text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 16px;
}
.get-started{
    background-color: #7C3AED;
    width: 138px;
    height: 56px;
    border: none;
    margin-right: 16px;
    border-radius: 8px;
}
#get-started-text{
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.watch-video{
    width: 138px;
    height: 56px;
    border: none;
    background-color: transparent;
}
#watch-video-text{
    color: #7C3AED;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-left: 5px;
}
.buttons{
    width: 300px;
    height: 60px;
    margin-top: 31px;
}
.logo-clouds{
    width: 100%;
    height: 142px;
    margin: auto;
    margin-top: 20px;
}
.logo-clouds-container{
    width: 85%;
    height: 110px;
    margin: auto;
    display: flex;
    align-items: center;
    border: 1px solid #E5E7EB;
    border-left: none;
    border-right: none;
}
.logo-clouds-logos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
}
.logos-marka{
    max-width: 80px;
}
.features{
    width: 100%;
    height: 748px;
}
.features-heading{
    width: 50%;
    margin: auto;
    position: relative;
    top: 12.83%;
    height: 124px;
    text-align: center;
}
.features-heading-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}
.features-heading-text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 8px;
}
.features-container{
    width: 84%;
    margin:auto;
    height: 368px;
    margin-top: 159px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-img{
    width: 30px;
    height: 30px;
}
.column{
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 152px;
    align-items: center;
    justify-content: center;
}
.column-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 25.33px;
    margin-bottom: 8px;
}
.column-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.row-img2{
    margin-top: 64px;
}
.testimonial{
    width: 100%;
    height: 892px;
    background-color: #D5FAFC;
    margin: auto;
}
.testimonial-container{
    width: 85%;
    height: 732px;
    margin: auto;
    position: relative;
    top: 64px;
}
.testimonial-item1{
    width: 384px;
    height: 396px;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 276px;
    right: 51%;
    align-items: flex-start;
    border-radius: 8px;
    position: absolute;
    padding: 32px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
}
.small-mark{
    margin-top: 37px;
}
.testimonial-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.testimonial-name{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.testimonial-degree{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.testimonial-content{
    margin-top: -13px;
    margin-left: 26px;
}
.testimonial-name{
    margin-left: 26px;
    margin-top: 24px;
}
.testimonial-degree{
    margin-left: 26px;
}
.testimonial-item2{
    width: 488px;
    height: 312px;
    background-color: white;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 51%;
    top: 132px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
}
.testimonial-item3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 384px;
    height: 256px;
    left: 51%;
    top: 476px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
}
.testimonial-heading{
    width: 488px;
    height: 156px;
    position: absolute;
    top: 56px;
    left: 104px;
    z-index: 1;
}
.testimonial-heading-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    display: block;
}
.testimonial-heading-text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.testimonial-mark{
    opacity: 30%;
}
.footer{
    width: 100%;
    height: 288px;
    background-color: black;
}
.footer-container{
    width: 85%;
    height: 152px;
    margin: auto;
    position: relative;
    top: 64px;
    display: flex;
    justify-content: space-between;
}
.left-footer{
    width: 362px;
    height: 152px;
    display: flex;
    flex-direction: row;
}
.small-logo{
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
}
.row1{
    display: flex;
    flex-direction: row;
}
.footer-links{
    margin-right: 24px;
    margin-top: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.footer-text{
    color: #D1D5DB;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 24px;
}
.right-footer{
    width: 176px;
    height: 152px;
}
.footer-text2{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #D1D5DB;
}
.footer-img{
    width: 135px;
    height: 40px;
    margin-top: 16px;
}
@media(max-width: 768px){
    .left-nav-a{
        display: none;
    }
    .hamburger {
        position: absolute;
        top: 4em;
        right: -6%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
    }
    .hamburger div {
        position: relative;
        width: 2em;
        height: 4px;
        border-radius: 3px;
        background-color: black;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }
    .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        z-index: 4;
        display: block;
    }
    .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }
    .navw{
        text-align: left;
        margin-left: 25%;
    }
    .navw a{
        position: relative;
        text-decoration: none;
        color: black;
        font-size: 2em;
        display: inline-block;
        margin-top: 1.25em;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
    }
    .navw a:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
    }
    .navw a:hover {
        color: black;
    }
    .navw a:hover:before {
        height: 100%;
    }
    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }
    #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }
    #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
    }
    #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
    }
    .hero{
        width: 768px;
        height: 1240px;
        background-image: url("assets/tablet-right-1.svg"),url("assets/tablet-right-2.svg"),url("assets/tablet-right-3.svg"),url("assets/tablet-left-1.svg"),url("assets/tablet-left-2.svg");
        background-position:96% 53%, 100% 61.5%,100% 63.5%,0% 76%, 0% 85%;
    }
    .hero-container{
        margin: auto;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 1240px;
    }
    .hero-container-content{
        margin-top: 30px;
    }
    .hero-container-content-title{
        font-size: 48px;
        line-height: 60px;
    }
    .hero-container-phone{
        margin: auto;
        margin-top: -50%;
    }
    #purple-circle{
        filter: blur(100px);
        opacity: 0.3;
    }
    #turquoise-circle{
        top: 91%;
        left: 52%;
    }
    .logo-clouds{
        height: 168px;
    }
    .logo-clouds-container{
        height: 136px;
        align-items: center;
        width: 688px;
    }
    .logo-clouds-logos{
        width: 688px;
        height: 86px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .logos-marka{
        margin-left: 64px;
        margin-right: 10px;
        max-width: 100px;
    }
    .aa{
        margin-left: 230px;
        margin-right: 30px;
    }
    .features{
        height: 965px;
    }
    .features-heading{
        width: 87%;
        top: 7%;
        height: 109px;
    }
    .features-heading-title{
        font-size: 36px;
        line-height: 45px;
    }
    .features-container{
        width: 688px;
        height: 632px;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    .row{
        width: 688px;
        height: 168px;
        flex-wrap: wrap;
    }
    .column{
        width: 329px;
        height: 168px;
        margin-top: 15px;
    }
    .tablet-multi{
        margin-left: 350px;
    }
    .column-title{
        font-size: 24px;
        line-height: 32px;
    }
    .testimonial{
        height: 1220px;
        margin-top: -100px;
    }
    .testimonial-container{
        height: 1021px;
        width: 95%;
    }
    .testimonial-heading{
        width: 688px;
        height: 81px;
        margin-left: -77px;
        margin-top: 10px;
    }
    .testimonial-heading-title{
        font-size: 36px;
        line-height: 45px;
    }
    .testimonial-content{
        width: 624px;
        height: 156px;
    }
    .testimonial-item2{
        width: 688px;
        height: 284px;
        top: 130px;
        left: 16px;
        margin-top: 40px;
    }
    .testimonial-item1{
        width: 688px;
        height: 284px;
        top: 414px;
        left: 16px;
        margin-top: 68px;
    }
    .testimonial-item3{
        width: 688px;
        height: 284px;
        top: 700px;
        left: 16px;
        margin-top: 96px;
    }
    .footer{
        height: 288px;
    }
}
@media(max-width:376px) {
    .hero{
        width: 375px;
        height: 1240px;
    }
    .navbar{
        width: 90%;
        height: 72px;
    }
    .right-nav img{
        display: none;
    }
    .hero-container{
        width: 90%;
        height: 1146px;
        margin-top: -20px;
        margin-left: 15px;
    }
    .hero-container-content{
        width: 335px;
        height: 386px;
    }
    .hero-container-content-title{
        font-size: 36px;
        line-height: 45px;
    }
    .hero-container-phone{
        width: 335px;
        height: 640px;
        margin-left: -70px;
        margin-top: -15px;
    }
    .logo-clouds{
        width: 375px;
        height: 228px;
    }
    .logo-clouds-container{
        width: 90%;
        height: 196px;
    }
    .logo-clouds-logos{
        width: 100%;
        height: 146px;
    }
    .logos-marka{
        margin-right: 5px;
        margin-left: 44px;
    }
    .aa{
        margin-left: 50px;
        margin-right: 10px;
    }
    .features{
        width: 375px;
        height: 1602px;
    }
    .features-heading{
        height: 210px;
        width: 90%;
        top: 2%;
    }
    .features-container{
        width: 85%;
        height: 1248px;
        margin-top: 0px;
    }
    .row{
        width: 100%;
        height: 168px;
        flex-direction: row-reverse;
    }
    .column{
       width: 90%;
       height: 168px;
       margin: auto;
       margin-bottom: 180px;
       margin-top: 60px;
    }
    .column-title{
        align-items: center;
        display: flex;
    }
    .column-text{
        margin-left: 40px;
    }
    .testimonial{
        width: 375px;
        height: 1444px;
    }
    .testimonial-container{
        width: 90%;
        height: 1124px;
    }
    .testimonial-heading{
        width: 100%;
        height: 112px;
    }
    .testimonial-content{
        width: 80%;
    }
    .testimonial-heading-title{
        font-size: 30px;
        line-height: 40px;
        margin-top: -15px;
    }
    .testimonial-heading-text{
        width: 239px;
        height: 168px;
    }
    .testimonial-item1{
        width: 100%;
        height: 368px;
        top: 542px;
        margin-left: -16px;
        margin-top: 32px;
    }
    .testimonial-item2{
        width: 100%;
        height: 368px;
        margin-left: -16px;
        margin-top: 52px;
    }
    .testimonial-item3{
        width: 100%;
        height: 368px;
        margin-left: -16px;
        top: 869px;
    }
    .footer{
        width: 375px;
        height: 448px;
    }
    .footer-container{
        width: 90%;
        height: 368px;
        flex-wrap: wrap;
    }
    .phone-row1{
        flex-wrap: wrap;
    }
    .left-footer{
        width: 290px;
        flex-wrap: wrap;
    }
    .footer-text2{
        margin-top: 30px;
    }
}
    